body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: honeydew;
    position: relative;
}

.restart-btn {
    z-index: 4;
    width: 200px;
    height: 100px;
    font-family: 'Play';
    font-size: 26px;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 100px !important;
    background-color: #1C0B7F;
    border: 2px solid rgba(0, 0, 0, 0.5);
    scale: 1;
}

.restart-btn:hover {
    background-color: #5d4bc2;
    scale: 1.1;
}

.game-over {
    position: absolute;
    width: 100%;
    z-index: 3;
    animation: zoomIn 225ms ease-in-out;
    height: 100%;
    object-fit: contain;
}

.player {
    font-family: 'Play';
    font-weight: 600;
}

.player-panel {
    display: flex;
    font-size: 32px;
}

.player-panel div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    margin-bottom: 32px;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.player-inactive {
    opacity: 0.5;
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid black;
    cursor: pointer;
}

td:hover {
    background-color: rgba(107, 146, 255, 0.1)
}

table {
    border-collapse: collapse;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 30px;
    left: 30px;
}

.d-none {
    display: none;
}

.horizontal-line {
    height: 10px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 2;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.make-diagonal {
    transform: rotate(45deg) scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.make-diagonal-inverted {
    transform: rotate(135deg) scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.table-wrapper {
    position: relative;
    height: 70%;
}

.line-3 {
    top: 200px;
    right: 5px;
}

.line-4 {
    top: 200px;
    right: -135px;
}

.line-5 {
    top: 200px;
    right: 145px;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* RESPONSIVE DOWN TO 300px width */

@media (max-width: 450px) {

    body {
        justify-content: space-between;
    }

    .shape {
        left: 21px;
    }

    .line-3 {
        top: 200px;
        right: -1px;
        transform: rotate(90deg) scaleX(0);
    }

    .line-4 {
        right: -127px;
    }

    .line-5 {
        right: 127px;
    }

    .horizontal-line {
        width: 375px;
    }

    .player-panel {
        font-size: 20px;
        margin-top: 20px;
    }

    .player-panel img {
        width: 45px;
        height: 45px;
    }

}

@media (max-width: 330px) {
    .player-panel {
        font-size: 16px;
    }
}